main {
  height: 90dvh;
}
#main {
  height: 100%;
}
#time {
  font-size: 6rem;
  margin-bottom: 5px;
}
#date {
  margin-top: 0;
  margin-bottom: 20px;
}
.center {
  display: flex;
  height: 45%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-card {
  width: 50%;
  height: 65%;
  margin: 0 auto;
  cursor: pointer;
}
#weatherModal .bfc-base-3-bg {
  width: 100%;
}
#weatherModal {
  width: 85dvw;
  --bfl-autocol-width: 35%;
  gap: 8px;
}
#weatherModal .bf-h2 {
  margin-top: 0;
}

#departures {
  overflow-y: scroll;
}

#departures::-webkit-scrollbar {
  display: none;
}

#departureTable {
  margin-top: 50px;
}

@media (min-width: 600px) {
  .my-grid-four {
    --bfl-columns: 2;
  }
  .my-tall-element {
    grid-row: span 2;
  }
}